@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    font-family: "Monoton" !important;
    background-color: #000 !important;
    color: #e5e5e5 !important;
}

#clock {
    font-size: 550px;
}