name: Deploy to GitHub Pages

on:
    push:
        branches:
        - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                node-version: 18

            - name: Install Dependencies
              run: yarn install

            - name: Build Project
              run: yarn build

            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                github_token: ${{ secrets.GH_PAGES_TOKEN }}
                publish_dir: ./dist
                publish_branch: gh-pages
